{:blocks (
{:block/content "It's much easier to use for android compared to obsidian"
:block/format :markdown
:block/left 
{:block/uuid #uuid "661328d3-76b5-4a09-8449-97e7bdf569c1"}
:block/parent 
{:block/uuid #uuid "661328d3-76b5-4a09-8449-97e7bdf569c1"}
:block/properties 
{}
:block/uuid #uuid "661328ea-bc26-497d-bd26-d7bcbd3dc394"} 
{:block/created-at 1712531769951
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "661328ea-bc26-497d-bd26-d7bcbd3dc394"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 76.72729799236984]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9e3d0e10-f534-11ee-821d-d7b32b11d122"
:noFill false
:point [279.6090593565385 233.86989488748642]
:parentId "661328d3-76b5-4a09-8449-97e7bdf569c1"
:collapsedHeight 0
:nonce 1712531683704}}
:block/updated-at 1712531769951} 
{:block/created-at 1712531769951
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "green"
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Ghjkk"
:scaleLevel "md"
:fill "green"
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 148.72730635074782]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cf65e4d0-f534-11ee-821d-d7b32b11d122"
:noFill false
:point [316.7640853448172 446.0952923997878]
:parentId "661328d3-76b5-4a09-8449-97e7bdf569c1"
:collapsedHeight 0
:nonce 1712531766177}}
:block/updated-at 1712531769951})
:pages (
{:block/uuid #uuid "661328d3-76b5-4a09-8449-97e7bdf569c1"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "661328d3-76b5-4a09-8449-97e7bdf569c1"
:name "logseq whiteboard test"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("9e3d0e10-f534-11ee-821d-d7b32b11d122" "cf65e4d0-f534-11ee-821d-d7b32b11d122")}}
:block/updated-at 1712531769951
:block/created-at 1712531667270
:block/type "whiteboard"
:block/name "logseq whiteboard test"
:block/original-name "logseq whiteboard test"})}